In [1]:
import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
data = []
count = 1
for year in range(2000,2019):
    website_url = requests.get('https://www.basketball-reference.com/draft/NBA_'+str(year)+'.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    soup.prettify()
    My_table = soup.find('table',{'id':"stats"})
    tabledata = My_table.findAll('td')
    for cell in tabledata:
        count = count + 1
        data.append(cell.get_text())

In [3]:
data.remove('Minnesota forfeited the 29th overall pick.')
data.remove('Minnesota forfeited the 29th overall pick.')

In [4]:
import numpy as np
data2 = np.array(data)
refined = np.reshape(data2, (-1, 21))

In [5]:
tableheader = My_table.findAll('th')
headers = []
count = 0
for item in tableheader:
    if (count < 31):
        headers.append(item.get_text())
        count=count+1
headers.remove('Rk')
headers = headers[9:]
#headers = ['']
print(headers)

['Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB', 'AST', 'FG%', '3P%', 'FT%', 'MP', 'PTS', 'TRB', 'AST', 'WS', 'WS/48', 'BPM', 'VORP']

In [6]:
import pandas as pd
df1 = pd.DataFrame(refined, columns=headers)
df1.head()

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,NJN,Kenyon Martin,University of Cincinnati,15,757,23134,9325,5159,1439,...,.234,.629,30.6,12.3,6.8,1.9,48.0,.100,0.7,15.5
1,2,VAN,Stromile Swift,Louisiana State University,9,547,10804,4582,2535,275,...,.074,.699,19.8,8.4,4.6,0.5,21.3,.095,-1.9,0.2
2,3,LAC,Darius Miles,,7,446,11730,4507,2190,840,...,.168,.590,26.3,10.1,4.9,1.9,9.5,.039,-1.2,2.3
3,4,CHI,Marcus Fizer,Iowa State University,6,289,6032,2782,1340,352,...,.191,.691,20.9,9.6,4.6,1.2,2.7,.022,-4.7,-4.1
4,5,ORL,Mike Miller,University of Florida,17,1032,27812,10973,4376,2666,...,.407,.769,26.9,10.6,4.2,2.6,60.7,.105,0.9,20.3

In [11]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt 
df1 = pd.read_csv('DraftData.csv')
df1.head()

,Unnamed: 0,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,0,1,NJN,Kenyon Martin,University of Cincinnati,15.0,757.0,23134.0,9325.0,5159.0,...,0.234,0.629,30.6,12.3,6.8,1.9,48.0,0.100,0.7,15.5
1,1,2,VAN,Stromile Swift,Louisiana State University,9.0,547.0,10804.0,4582.0,2535.0,...,0.074,0.699,19.8,8.4,4.6,0.5,21.3,0.095,-1.9,0.2
2,2,3,LAC,Darius Miles,NaN,7.0,446.0,11730.0,4507.0,2190.0,...,0.168,0.590,26.3,10.1,4.9,1.9,9.5,0.039,-1.2,2.3
3,3,4,CHI,Marcus Fizer,Iowa State University,6.0,289.0,6032.0,2782.0,1340.0,...,0.191,0.691,20.9,9.6,4.6,1.2,2.7,0.022,-4.7,-4.1
4,4,5,ORL,Mike Miller,University of Florida,17.0,1032.0,27812.0,10973.0,4376.0,...,0.407,0.769,26.9,10.6,4.2,2.6,60.7,0.105,0.9,20.3

In [13]:
df1 = df1.drop(['Unnamed: 0'], axis=1)

In [14]:
col = df1.columns
cols = []
for co in col:
    cols.append(co)
cols = cols[4:]
print(cols)

['Yrs', 'G', 'MP', 'PTS', 'TRB', 'AST', 'FG%', '3P%', 'FT%', 'MP.1', 'PTS.1', 'TRB.1', 'AST.1', 'WS', 'WS/48', 'BPM', 'VORP']

In [15]:
for col in cols:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

In [16]:
df1.to_csv("DraftData.csv")

In [18]:
df1 = df1.dropna()

In [19]:
df1.head()

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,WS,WS/48,BPM,VORP
0,1,NJN,Kenyon Martin,University of Cincinnati,15.0,757.0,23134.0,9325.0,5159.0,1439.0,...,0.234,0.629,30.6,12.3,6.8,1.9,48.0,0.100,0.7,15.5
1,2,VAN,Stromile Swift,Louisiana State University,9.0,547.0,10804.0,4582.0,2535.0,275.0,...,0.074,0.699,19.8,8.4,4.6,0.5,21.3,0.095,-1.9,0.2
3,4,CHI,Marcus Fizer,Iowa State University,6.0,289.0,6032.0,2782.0,1340.0,352.0,...,0.191,0.691,20.9,9.6,4.6,1.2,2.7,0.022,-4.7,-4.1
4,5,ORL,Mike Miller,University of Florida,17.0,1032.0,27812.0,10973.0,4376.0,2666.0,...,0.407,0.769,26.9,10.6,4.2,2.6,60.7,0.105,0.9,20.3
5,6,ATL,DerMarr Johnson,University of Cincinnati,7.0,344.0,5930.0,2121.0,769.0,304.0,...,0.336,0.789,17.2,6.2,2.2,0.9,6.4,0.052,-1.6,0.6

In [31]:
data = []
website_url = requests.get('https://www.nbadraft.net/2019mock_draft')
soup = BeautifulSoup(website_url.content,'lxml')
soup.prettify()
My_table = soup.find('table',{'id':"nba_mock_consensus_table"})
tabledata = My_table.findAll('td')
for cell in tabledata:
    data.append(cell.get_text())
My_table = soup.find('table',{'id':"nba_mock_consensus_table2"})
tabledata = My_table.findAll('td')
for cell in tabledata:
    data.append(cell.get_text())

In [32]:
data

['1',
 '\xa0New Orleans',
 'Zion Williamson',
 '6-6',
 '280',
 'PF',
 'Duke',
 'Fr.',
 '2',
 '\xa0Memphis',
 'Ja Morant',
 '6-3',
 '175',
 'PG',
 'Murray St.',
 'So.',
 '3',
 '\xa0New York',
 'RJ Barrett',
 '6-7',
 '210',
 'SG',
 'Duke',
 'Fr.',
 '4',
 '\xa0LA Lakers',
 'DeAndre Hunter',
 '6-7',
 '225',
 'SF/PF',
 'Virginia',
 'So.',
 '5',
 '\xa0*Cleveland ',
 'Darius Garland',
 '6-2',
 '175',
 'PG',
 'Vanderbilt',
 'Fr.',
 '6',
 '\xa0Phoenix',
 'Coby White',
 '6-5',
 '190',
 'PG/SG',
 'North Carolina',
 'Fr.',
 '7',
 '\xa0Chicago',
 'Jarrett Culver',
 '6-6',
 '195',
 'SG',
 'Texas Tech',
 'So.',
 '8',
 '\xa0Atlanta',
 'Cameron Reddish',
 '6-8',
 '210',
 'SG/SF',
 'Duke',
 'Fr.',
 '9',
 '\xa0Washington',
 'Bruno Fernando',
 '6-10',
 '240',
 'C',
 'Maryland',
 'So.',
 '10',
 '\xa0*Atlanta',
 'Mfiondu Kabengele',
 '6-10',
 '255',
 'PF/C',
 'Florida St.',
 'So.',
 '11',
 '\xa0Minnesota',
 'Nassir Little',
 '6-6',
 '225',
 'SF',
 'North Carolina',
 'Fr.',
 '12',
 '\xa0Charlotte',
 'Jaxson Hayes',
 '6-11',
 '220',
 'PF/C',
 'Texas',
 'Fr.',
 '13',
 '\xa0Miami',
 'Sekou Doumbouya',
 '6-9',
 '230',
 'SF/PF',
 'France',
 'Intl.',
 '14',
 '\xa0*Boston',
 'Rui Hachimura',
 '6-8',
 '235',
 'SF/PF',
 'Gonzaga',
 'Jr.',
 '15',
 '\xa0Detroit',
 'Bol Bol',
 '7-2',
 '210',
 'C',
 'Oregon',
 'Fr.',
 '16',
 '\xa0Orlando',
 'Nickeil Alexande...',
 '6-5',
 '205',
 'SG',
 'Virginia Tech',
 'So.',
 '17',
 '\xa0Brooklyn',
 'Goga Bitadze',
 '6-11',
 '250',
 'C',
 'Rep. of Georgia',
 'Intl.',
 '18',
 '\xa0Indiana',
 'PJ Washington',
 '6-8',
 '230',
 'PF',
 'Kentucky',
 'So.',
 '19',
 '\xa0San Antonio',
 'Nicolas Claxton',
 '6-11',
 '215',
 'PF',
 'Georgia',
 'So.',
 '20',
 '\xa0*Boston',
 'Brandon Clarke',
 '6-8',
 '210',
 'PF/C',
 'Gonzaga',
 'Jr.',
 '21',
 '\xa0Oklahoma Cty',
 'Tyler Herro',
 '6-6',
 '195',
 'SG',
 'Kentucky',
 'Fr.',
 '22',
 '\xa0Boston',
 'Keldon Johnson',
 '6-6',
 '215',
 'SG/SF',
 'Kentucky',
 'Fr.',
 '23',
 '\xa0Utah',
 'KZ Okpala',
 '6-8',
 '210',
 'SG/SF',
 'Stanford',
 'So.',
 '24',
 '\xa0*Philadelphia',
 'Romeo Langford',
 '6-6',
 '210',
 'SG',
 'Indiana',
 'Fr.',
 '25',
 '\xa0Portland',
 'Daniel Gafford',
 '6-10',
 '240',
 'PF/C',
 'Arkansas',
 'So.',
 '26',
 '\xa0*Cleveland ',
 'Kevin Porter',
 '6-5',
 '215',
 'SG/SF',
 'USC',
 'Fr.',
 '27',
 '\xa0*Brooklyn',
 'Luka Samanic',
 '6-11',
 '230',
 'PF',
 'Croatia',
 'Intl.',
 '28',
 '\xa0Golden St.',
 'Dylan Windler',
 '6-7',
 '195',
 'SG/SF',
 'Belmont',
 'Sr.',
 '29',
 '\xa0*San Antonio',
 'Matisse Thybulle',
 '6-6',
 '200',
 'SG/SF',
 'Washington',
 'Sr.',
 '30',
 '\xa0*Milwaukee',
 'Naz Reid',
 '6-10',
 '255',
 'C',
 'LSU',
 'Fr.',
 '31',
 '\xa0*Brooklyn',
 'Ty Jerome',
 '6-5',
 '195',
 'PG',
 'Virginia',
 'Jr.',
 '32',
 '\xa0Phoenix',
 'Cameron Johnson',
 '6-8',
 '205',
 'SF',
 'North Carolina',
 'Sr.',
 '33',
 '\xa0*Philadelphia',
 'Carsen Edwards',
 '6-0',
 '200',
 'PG',
 'Purdue',
 'Jr.',
 '34',
 '\xa0*Philadelphia',
 'Grant Williams',
 '6-7',
 '240',
 'PF',
 'Tennessee',
 'Jr.',
 '35',
 '\xa0Atlanta',
 'Moses Brown',
 '7-2',
 '240',
 'C',
 'UCLA',
 'Fr.',
 '36',
 '\xa0*Charlotte',
 'Eric Paschall',
 '6-7',
 '255',
 'PF',
 'Villanova',
 'Sr.',
 '37',
 '\xa0New Orleans',
 'Terance Mann',
 '6-6',
 '205',
 'SG',
 'Florida St.',
 'Sr.',
 '38',
 '\xa0*Chicago',
 'Chuma Okeke',
 '6-8',
 '235',
 'SF/PF',
 'Auburn',
 'So.',
 '39',
 '\xa0*Dallas',
 'Tyler Cook',
 '6-8',
 '245',
 'PF',
 'Iowa',
 'Jr.',
 '40',
 '\xa0*Sacramento',
 'Isaiah Roby',
 '6-8',
 '215',
 'SF/PF',
 'Nebraska',
 'Jr.',
 '41',
 '\xa0*Atlanta',
 'Tacko Fall',
 '7-6',
 '290',
 'C',
 'Central Florida',
 'Sr.',
 '42',
 '\xa0*Atlanta',
 'Jalen McDaniels',
 '6-9',
 '190',
 'SF/PF',
 'San Diego St.',
 'So.',
 '43',
 '\xa0*Minnesota',
 'Louis King',
 '6-8',
 '195',
 'SF',
 'Oregon',
 'Fr.',
 '44',
 '\xa0*Philadelphia',
 'Jordan Bone',
 '6-3',
 '180',
 'PG',
 'Tennessee',
 'Jr.',
 '45',
 '\xa0Detroit',
 'Adam Mokoka',
 '6-5',
 '210',
 'SG',
 'France',
 'Intl.',
 '46',
 '\xa0*Orlando',
 'Talen Horton-Tuc...',
 '6-4',
 '235',
 'SG/SF',
 'Iowa St.',
 'Fr.',
 '47',
 '\xa0*Sacramento',
 'Luguentz Dort',
 '6-4',
 '220',
 'SG',
 'Arizona St.',
 'Fr.',
 '48',
 '\xa0*LA Clippers',
 'Kris Wilkes',
 '6-7',
 '210',
 'SF',
 'UCLA',
 'So.',
 '49',
 '\xa0San Antonio',
 'Jalen Lecque',
 '6-4',
 '185',
 'PG/SG',
 'NC State',
 'HSSr.',
 '50',
 '\xa0Indiana',
 'Jaylen Nowell',
 '6-4',
 '200',
 'PG/SG',
 'Washington',
 'So.',
 '51',
 '\xa0Boston',
 'Darius Bazley',
 '6-9',
 '210',
 'SF/PF',
 'USA',
 'N/A',
 '52',
 '\xa0*Charlotte',
 'Brian Bowen',
 '6-7',
 '200',
 'SF',
 'USA',
 'Intl.',
 '53',
 '\xa0Utah',
 'Sagaba Konate',
 '6-8',
 '250',
 'PF/C',
 'West Virginia',
 'Jr.',
 '54',
 '\xa0Philadelphia',
 'Jaylen Hands',
 '6-3',
 '180',
 'PG',
 'UCLA',
 'So.',
 '55',
 '\xa0*New York',
 'Zach Norvell',
 '6-6',
 '205',
 'SG',
 'Gonzaga',
 'So.',
 '56',
 '\xa0*LA Clippers',
 'Jaylen Hoard',
 '6-8',
 '215',
 'SF/PF',
 'Wake Forest',
 'Fr.',
 '57',
 '\xa0*New Orleans',
 'Miye Oni',
 '6-5',
 '205',
 'SG',
 'Yale',
 'Jr.',
 '58',
 '\xa0Golden St.',
 'Admiral Schofield',
 '6-5',
 '240',
 'SF',
 'Tennessee',
 'Sr.',
 '59',
 '\xa0Toronto',
 'Ignas Brazdeikis',
 '6-7',
 '220',
 'SF',
 'Michigan',
 'Fr.',
 '60',
 '\xa0*Sacramento',
 'Jontay Porter',
 '6-11',
 '210',
 'PF/C',
 'Missouri',
 'So.']

In [33]:
import numpy as np
data2 = np.array(data)
refined = np.reshape(data2, (-1, 8))

In [34]:
tableheader = My_table.findAll('th')
headers = []
count = 0
for item in tableheader:
    if (count < 9):
        headers.append(item.get_text())
        count=count+1
headers

['#', 'Team', 'Player', 'H', 'W', 'P', 'School', 'C']

In [35]:
import pandas as pd
df3 = pd.DataFrame(refined, columns=headers)
df3.head()

   #          Team           Player    H    W      P      School    C
0  1  Â New Orleans  Zion Williamson  6-6  280     PF        Duke  Fr.
1  2      Â Memphis        Ja Morant  6-3  175     PG  Murray St.  So.
2  3     Â New York       RJ Barrett  6-7  210     SG        Duke  Fr.
3  4    Â LA Lakers   DeAndre Hunter  6-7  225  SF/PF    Virginia  So.
4  5  Â *Cleveland    Darius Garland  6-2  175     PG  Vanderbilt  Fr.

In [36]:
df3.to_csv("2019MockDraftData.csv")